<%= form_with(model: trip, local: true) do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>

  <div class="field">
    <%= form.label :activistdate %>
    <%= form.date_select :activistdate %>
  </div>

  <div class="field">
    <%= form.label :startime %>
    <%= form.datetime_select :startime %>
  </div>

  <div class="field">
    <%= form.label :endingtime %>
    <%= form.datetime_select :endingtime %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :students_id %>
    <%= form.text_field :students_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
