<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  إضافة نقاط: 
  <button type="button" class="btn btn-primary">
      نقطة <span class="badge badge-light">25</span>
  </button> - 
  <button type="button" class="btn btn-primary">
      نقطة <span class="badge badge-light">50</span>
  </button> -
  <button type="button" class="btn btn-primary">
      نقطة <span class="badge badge-light">100</span>
  </button> -
  <button type="button" class="btn btn-primary">
      نقطة <span class="badge badge-light">150</span>
  </button> -
  <button type="button" class="btn btn-primary">
      نقطة <span class="badge badge-light">200</span>
  </button> 

  <br>  <br>

  حذف نقاط: 
  <button type="button" class="btn badge-danger">
      نقطة <span class="badge badge-light">25-</span>
  </button> - 
  <button type="button" class="btn badge-danger">
      نقطة <span class="badge badge-light">50-</span>
  </button> - 
  <button type="button" class="btn badge-danger">
      نقطة <span class="badge badge-light">100-</span>
  </button> - 
  <button type="button" class="btn badge-danger">
      نقطة <span class="badge badge-light">150-</span>
  </button> - 
  <button type="button" class="btn badge-danger">
      نقطة <span class="badge badge-light">200-</span>
  </button> 

  <div class="field">
    <%= form.label :point %>
    <%= form.number_field :point %>
  </div>

  <div class="field">
    <%= form.label :attendings_id %>
    <%= form.text_field :attendings_id %>
  </div>

  <div class="field">
    <%= form.label :memorizationparts_id %>
    <%= form.text_field :memorizationparts_id %>
  </div>

  <div class="field">
    <%= form.label :memorizationpage_id %>
    <%= form.text_field :memorizationpage_id %>
  </div>

  <div class="field">
      <%= form.label :memorizationpage_id %>
      <%= form.text_field :memorizationpage_id %>
    </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= button_to [ @student] do %>
  50 <strong><%= @student.point %></strong>
<% end %>
