<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :point %>
    <%= form.number_field :point %>
  </div>

  <div class="field">
    <%= form.label :memorizationparts_id %>
    <%= form.text_field :memorizationparts_id %>
  </div>

  <div class="field">
    <%= form.label :memorizationpage_id %>
    <%= form.text_field :memorizationpage_id %>
  </div>

  <div class="field">
      <%= form.label :memorizationpage_id %>
      <%= form.text_field :memorizationpage_id %>
    </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>




إضافة نقاط: 
<table>
    <%= button_to '25 نقطة', {:controller => "students", :action => "update" ,
    :point => @student.point + 25, id: @student  } , 
    :method=> :patch,
    class: "btn btn-primary"  %> - 

    <%= button_to '50 نقطة', {:controller => "students", :action => "update" ,
    :point => @student.point + 50, id: @student  } , 
    :method=> :patch,
    class: "btn btn-primary"  %> - 
    
    <%= button_to '100 نقطة', {:controller => "students", :action => "update" ,
    :point => @student.point + 100, id: @student  } , 
    :method=> :patch,
    class: "btn btn-primary"  %> - 
    
    <%= button_to '150 نقطة', {:controller => "students", :action => "update" ,
    :point => @student.point + 150, id: @student  } , 
    :method=> :patch,
    class: "btn btn-primary"  %> - 

    <%= button_to '200 نقطة', {:controller => "students", :action => "update" ,
    :point => @student.point + 200, id: @student  } , 
    :method=> :patch,
    class: "btn btn-primary"  %> 
 </table>
  <br>


حذف نقاط: 
<table>
  <%= button_to '25 نقطة', {:controller => "students", :action => "update" ,
  :point => @student.point - 25, id: @student  } , 
  :method=> :patch,
  class: "btn btn-danger"  %> - 

  <%= button_to '50 نقطة', {:controller => "students", :action => "update" ,
  :point => @student.point - 50, id: @student  } , 
  :method=> :patch,
  class: "btn btn-danger"  %> - 
  
  <%= button_to '100 نقطة', {:controller => "students", :action => "update" ,
  :point => @student.point - 100, id: @student  } , 
  :method=> :patch,
  class: "btn btn-danger"  %> - 
  
  <%= button_to '150 نقطة', {:controller => "students", :action => "update" ,
  :point => @student.point - 150, id: @student  } , 
  :method=> :patch,
  class: "btn btn-danger"  %> - 

  <%= button_to '200 نقطة', {:controller => "students", :action => "update" ,
  :point => @student.point - 200, id: @student  } , 
  :method=> :patch,
  class: "btn btn-danger"  %> 
</table>

