<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @student.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @student.lname %>
</p>

<p>
  <strong>Fathername:</strong>
  <%= @student.fathername %>
</p>

<p>
  <strong>Schoolname:</strong>
  <%= @student.schoolname %>
</p>

<p>
  <strong>Schoolclass:</strong>
  <%= @student.schoolclass %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Dateofbritgh:</strong>
  <%= @student.dateofbritgh %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Mobilephone:</strong>
  <%= @student.mobilephone %>
</p>

<p>
  <strong>Linephone:</strong>
  <%= @student.linephone %>
</p>

<p>
  <strong>Point:</strong>
  <%= @student.point %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @student.classroom.name %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @student.activities.name %>
</p>


<p>
  <strong>Attendings:</strong>
  <%= @student.attendings %>
</p>

<p>
  <strong>Memorizationparts:</strong>
  <%= @student.memorizationparts %>
</p>

<p>
  <strong>Memorizationpage:</strong>
  <%= @student.memorizationpage %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
