<%= form_with(model: memorizationpage, local: true) do |form| %>
  <% if memorizationpage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(memorizationpage.errors.count, "error") %> prohibited this memorizationpage from being saved:</h2>

      <ul>
      <% memorizationpage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :students_id %>
    <%= form.text_field :students_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
