<p id="notice"><%= notice %></p>

<h1>Memorizationpages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Students</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memorizationpages.each do |memorizationpage| %>
      <tr>
        <td><%= memorizationpage.name %></td>
        <td><%= memorizationpage.students %></td>
        <td><%= link_to 'Show', memorizationpage %></td>
        <td><%= link_to 'Edit', edit_memorizationpage_path(memorizationpage) %></td>
        <td><%= link_to 'Destroy', memorizationpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Memorizationpage', new_memorizationpage_path %>
