<!DOCTYPE html>
<html dir="rtl" lang="ar">
  <head>
    <title>AlzhraSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">جامع الزهراء</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>          
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">الرئيسية</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">الطلاب</a>
                </li>
                <li class="nav-item">
                    <%= link_to  "الحلقات", classrooms_path , class: "nav-link" %>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">اتصل بنا</a>
                </li>
                <li class="nav-item">
                  <%= link_to  "تسجيل الدخول", user_session_path , class: "nav-link" %>
                </li>  
              </ul>
            </div>
          
        </nav>
    <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
 
      <%= yield %>
    </div>
    <!-- Footer -->
<footer class="page-footer font-small py-1 bg-dark text-white-50 ">
    <div class="footer-copyright text-center py-3">© 2019 جامع الزهراء
    </div>
  </footer>

  <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">

  </body>
</html>
